h1 {
    color: blue;

}


/*Estilo general de la paguina*/
body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f4f4f4;
margin: 0;
line-height: 1.6;
}

/*Encabezado*/
header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
}


/*Menu de navegacion*/
nav{
    background-color: #34445e;
    text-align: center;
    padding: 12px;
}


/*Enlacesb del menu*/
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


/*Efecto al pasar el mouse*/
nav a:hover {
    color: #f1c40f;
}

/*Secciones*/
section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}


/*imagenes*/
img{
border-radius: 10px;
margin-top: 10px;
}

/*Pie de pagina*/
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}