h1 {
    color: rgb(191, 0, 255);

}




/*Estilo general de la paguina*/
body {
font-family: Arial, Helvetica, sans-serif;
background-color: #ff00b3;
margin: 0;
line-height: 1.6;
}

/*Encabezado*/
header{
    background-color: #701313;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 30px 20px;
}




/*Menu de navegacion*/
nav{
    background-color: #34445e;
    text-align: center;
    padding: 12px;
}





/*Enlaces del menu*/
nav a{
    color: rgb(255, 0, 221);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}




/*Efecto al pasar el mouse*/
nav a:hover {
    color: #1eff0047;
}





/*Secciones*/
section {
    background-color: rgb(230, 1, 222);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}


/*imagenes*/
img{
border-radius: 10px;
margin-top: 10px;
}




/*Pie de pagina*/
footer {
    background-color: #2c3e50;
    color: rgb(251, 0, 255);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}